body {
    font-family: Arial, sans-serif;
    background-color: #0c0c0c;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3f51b5;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
}

main {
    padding: 20px;
}

h2 {
    color: #e50914;
    font-size: 2em;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    text-align: center;
}


form label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
}

form input[type="text"],
form input[type="date"],
form input[type="float"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

form button {
    background-color: #e50914;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
}

form button:hover {
    background-color: #f40612;
}

.sorting button {
    background-color: #eb3740;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.sorting {
    margin-top: 20px;
    background-color: #803e3e;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: fit-content;
}

.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr)); /* Adjust columns based on screen size */
    gap: 10px; /* Add some gap between grid items */
}

.movie-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
}

.movie-poster {
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
}

.checked {
    color: orange;
    margin-left: 3%;
}

.title {
    text-align: center;
}

.stars {
    text-align: center;
}

.unchecked {
    color: #ffffff;
    margin-left: 3%;
}

.star {
    display: inline-block;
    position: relative;
    font-size: 14px;
    color: #ddd;
  }
  
  .star:after {
    font-family: FontAwesome;
    content: "\f005";
    position: absolute;
    left: 0;
    width: var(--star-width); 
    top: 0;
    overflow: hidden;
    color: #f80;
  }
  
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
  padding-right: 0;
}

.logo {
    max-width: 130px;
    margin-top: 0px;
    border-radius: 15px;
    margin-left: 50px;
}

.mdl-navigation__link {
    color: white;
}

.material-icons {
    font-size: 30px;
}

.form-inline {
    margin-left: auto;
    margin-right: 20px;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
}

.navbar {
    border-radius: 10px;
}