<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.name }} - Novlix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/details.css">
    <link rel="icon" href="/static/images/logo1.jpg" type="image/icon">
    <script>
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/static/service-worker.js')
            .then(function(registration) {
              console.log('Service Worker registered with scope:', registration.scope);
            })
            .catch(function(error) {
              console.log('Service Worker registration failed:', error);
            });
        }
      </script>
</head>
<style>
    .background {
        position: relative;
        width: 100%;
        height: 100vh;
        background: url('/static/images/{{ movie.id }}_poster.jpg') no-repeat center center/cover;
    }
    .mdl-textfield__input {
        color: black;
        background-color: white;
        border-radius: 10px;
      }
      .carousel-container {
        position: relative;
        max-width: 2000px;
        margin: auto;
        overflow: hidden;
      }
      .carousel {
        display: flex;
        transition: transform 0.5s ease-in-out;
      }
      .card {
        flex: 0 0 auto;
        max-width: 200px;
        margin: 10px;
        background-color: #222;
        padding: 10px;
        border-radius: 8px;
        text-align: center;
      }
      .card img {
        width: 100%;
        border-radius: 8px;
      }
      .carousel-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        padding: 10px;
        cursor: pointer;
      }
      .carousel-nav.left { left: 0; }
      .carousel-nav.right { right: 0; }
</style>
<body>
    <div class="background">
        <div class="overlay"></div>
        <div class="content" style="bottom: 10%; max-width: 35%;">
            <a href="javascript:history.back()" class="back-btn">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
            </a>
            <h1 style="font-size: 62px;">{{ movie.name }}</h1>
            <div class="watch-btn" onclick="openTrailer()">Watch Trailer</div>
            <div id="movieDetails" class="movie-details" style:"position: absolute; left: 10%; right: 10%;">
                <p><strong>Director:</strong> <span id="director"></span></p>
                <p><strong>Actors:</strong> <span id="actors"></span></p>
                <p><strong>Box Office:</strong> <span id="boxOffice"></span></p>
                <p><strong>Genre:</strong> <span id="genre"></span></p>
                <p><strong>Released:</strong> <span id="released"></span></p>
                <p><strong>Language(s):</strong> <span id="language"></span></p>
                <p><strong>Awards:</strong> <span id="awards"></span></p>
            </div>
        </div>
    </div>
    <div id="movieDetails" class="movie-details" style="position: absolute; top: 48.6%; left: 45%; right: 1%; top: 45%;">
        <p><strong>Plot:</strong> <span id="plot"></span></p>
    </div>
    <div id="trailerModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeTrailer()">&times;</span>
            <div class="iframe-container">
                <iframe id="trailerFrame" src="" frameborder="0" allowfullscreen allow="autoplay"></iframe>
            </div>
        </div>
    </div>
    <h2 style="color: white; margin-left: 20px;">Other Movies Like this</h2>
    <div class="carousel-container">
        <div class="carousel" id="carousel">
        {% for x in movies %}

            <div class="card" >
            <a href="/movies/{{ x.id }}">
                <img src="/static/images/{{ x.id }}.jpg" alt="{{ x.name }} poster" class="x-poster">
            </a>
            <div class="movie-details">
                <a href="/movies/{{ x.id }}">
                <h3 class="title" style="color: white;">{{ x.name }}</h3>
                </a>
                <div class="stars">
                {% for i in range(1, 6) %}
                {% if i <= ((x.rating)/2)|int %}
                    <span class="fa fa-star checked"></span>
                {% elif i - ((x.rating)/2) > 0 and i - ((x.rating)/2) < 1 %}
                    <span class="star fa fa-star unchecked" style="--star-width: {{ (((x.rating)/2) - ((x.rating)/2)|int)*100 }}%"></span>
                {% else %}
                    <span class="fa fa-star unchecked"></span>
                {% endif %}
                {% endfor %}
                </div>
                <p style="font-size: 15px;">Rating: {{ x.rating }} / 10</p>
            </div>
            </div>

        {% endfor %}
        </div>
      <button class="carousel-nav left" onclick="moveCarousel(-1)">&#10094;</button>
      <button class="carousel-nav right" onclick="moveCarousel(1)">&#10095;</button>
    </div>
    
    <script>
        function openTrailer() {
            var trailerUrl = "{{ movie.trailer | replace('watch?v=', 'embed/') }}";  
            var frame = document.getElementById('trailerFrame');
            document.getElementById('trailerModal').style.visibility = 'visible';
            frame.src = trailerUrl + "?autoplay=1&rel=0&modestbranding=1";
            frame.allow = "autoplay";
            history.replaceState(null, null, location.href); // Replace the current state to avoid adding a new entry
        }

        function closeTrailer() {
            var frame = document.getElementById('trailerFrame');
            document.getElementById('trailerModal').style.visibility = 'hidden';
            frame.src = "";
        }

        window.onclick = function(event) {
            var modal = document.getElementById('trailerModal');
            if (event.target == modal) {
                closeTrailer();
                setTimeout(function() {
                    history.back();
                    history.back();
                }, 300); // Increased delay to ensure trailer is closed before navigating back
            }
        }

        // Fetch movie details from OMDB API
        document.addEventListener('DOMContentLoaded', function() {
            var movieTitle = "{{ movie.name }}";
            var apiKey = "983e7eab";
            var movietitle = `${movieTitle}`;
            var url = `https://www.omdbapi.com/?t=` + movietitle + `&apikey=${apiKey}&plot=full`;
            url = url.replace("&#39;", "'");

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log('API Response:', data);
                    if (data.Response === "True") {
                        document.getElementById('director').textContent = data.Director;
                        document.getElementById('actors').textContent = data.Actors;
                        document.getElementById('boxOffice').textContent = data.BoxOffice;
                        document.getElementById('plot').textContent = data.Plot;
                        document.getElementById('genre').textContent = data.Genre;
                        document.getElementById('released').textContent = data.Released;
                        document.getElementById('language').textContent = data.Language;
                        document.getElementById('awards').textContent = data.Awards;
                    } else {
                        console.error('Movie not found:', data.Error);
                    }
                })
                .catch(error => console.error('Error fetching movie details:', error));
        });
    </script>
    <script>
        let index = 0;
        function moveCarousel(direction) {
          const carousel = document.getElementById('carousel');
          const cards = document.querySelectorAll('.card');
          const cardWidth = cards[0].offsetWidth + 20; // Adjust for margin
          index = Math.max(0, Math.min(index + direction, cards.length - 1));
          carousel.style.transform = `translateX(${-index * cardWidth * 9}px)`;
        }
      </script>
 
</body>
</html>