<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.name }} - Novlix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/details.css">
</head>
<style>
    .background {
        position: relative;
        width: 100%;
        height: 100vh;
        background: url('/static/images/{{ movie.id }}_poster.jpg') no-repeat center center/cover;
    }
</style>
<body>
    <div class="background">
        <div class="overlay"></div>
        <div class="content" style="bottom: 10%;">
            <a href="javascript:history.back()" class="back-btn">
                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
            </a>
            <h1 style="font-size: 80px;">{{ movie.name }}</h1>
            <div class="watch-btn" onclick="openTrailer()">Watch Trailer</div>
            <div id="movieDetails" class="movie-details">
                <p><strong>Director:</strong> <span id="director"></span></p>
                <p><strong>Actors:</strong> <span id="actors"></span></p>
                <p><strong>Box Office:</strong> <span id="boxOffice"></span></p>
                <p><strong>Genre:</strong> <span id="genre"></span></p>
                <p><strong>Released:</strong> <span id="released"></span></p>
                <p><strong>Language(s):</strong> <span id="language"></span></p>
                <p><strong>Awards:</strong> <span id="awards"></span></p>
            </div>
            
        </div>
    </div>
    <div id="movieDetails" class="movie-details" style="position: absolute; right: 5%; top: 48.6%; margin-left: 900px;">
        <p><strong>Plot:</strong> <span id="plot"></span></p>
    </div>
    <div id="trailerModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeTrailer()">&times;</span>
            <div class="iframe-container">
                <iframe id="trailerFrame" src="" frameborder="0" allowfullscreen allow="autoplay"></iframe>
            </div>
        </div>
    </div>

    <script>
        function openTrailer() {
            var trailerUrl = "{{ movie.trailer | replace('watch?v=', 'embed/') }}";  
            var frame = document.getElementById('trailerFrame');
            document.getElementById('trailerModal').style.visibility = 'visible';
            frame.src = trailerUrl + "?autoplay=1&rel=0&modestbranding=1";
            frame.allow = "autoplay";
            history.replaceState(null, null, location.href); // Replace the current state to avoid adding a new entry
        }

        function closeTrailer() {
            var frame = document.getElementById('trailerFrame');
            document.getElementById('trailerModal').style.visibility = 'hidden';
            frame.src = "";
        }

        window.onclick = function(event) {
            var modal = document.getElementById('trailerModal');
            if (event.target == modal) {
                closeTrailer();
                setTimeout(function() {
                    history.back();
                    history.back();
                }, 300); // Increased delay to ensure trailer is closed before navigating back
            }
        }

        // Fetch movie details from OMDB API
        document.addEventListener('DOMContentLoaded', function() {
            var movieTitle = "{{ movie.name }}";
            var apiKey = "983e7eab";
            var movietitle = `${movieTitle}`;
            var url = `https://www.omdbapi.com/?t=` + movietitle + `&apikey=${apiKey}&plot=full`;
            url = url.replace("&#39;", "'");

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log('API Response:', data);
                    if (data.Response === "True") {
                        document.getElementById('director').textContent = data.Director;
                        document.getElementById('actors').textContent = data.Actors;
                        document.getElementById('boxOffice').textContent = data.BoxOffice;
                        document.getElementById('plot').textContent = data.Plot;
                        document.getElementById('genre').textContent = data.Genre;
                        document.getElementById('released').textContent = data.Released;
                        document.getElementById('language').textContent = data.Language;
                        document.getElementById('awards').textContent = data.Awards;
                    } else {
                        console.error('Movie not found:', data.Error);
                    }
                })
                .catch(error => console.error('Error fetching movie details:', error));
        });
    </script>
</body>
</html>